body {
    font-family: Raleway, sans-serif;
    height: 100%;
    margin: 0;
    /*! align-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    align-items: center;
    border: 2px solid;
}

.container {
    display: flex;
    height: 1880px;
    max-width: 1440px;
    flex-direction: column;
    align-items: ;
    padding: 50px 4% 0px 4%;
    justify-content: center;
    border: red 2px solid;
}


/* ------------------------section-1---------------------------------------------- */

.ligne1 {
    background-color: blue;
    width: 35%;
    height: 2px;
    position: relative;
    left: 29px;
    bottom: 60px;
}

.container_head {
    /*! border: 2px solid; */
    height: 425px;
    margin-bottom: 40px;
}

.menu {
    font-size: larger;
    align-self: center;
    margin-left: auto;
}

div.head {
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
}

div.logo {
    display: inline-block;
}

.vacances p {
    font-weight: lighter;
}

.vacances {
    margin-top: 3em;
}

hr.head {
    border: 0.1px solid;
    display: block;
    width: 11em;
    box-sizing: border-box;
    position: absolute;
    left: 57em;
    top: -7px;
}

.menu a {
    text-decoration: none;
    margin-left: 40px;
}

a.Hébergements {
    color: #0065fc;
}

nav {
    bottom: 33px;
    font-size: larger;
    display: flex;
    grid-column-gap: 38px;
    align-self: center;
    margin-left: 39em;
}

.Activités {
    font-weight: 300;
    color: initial;
}


/* .Hébergements {
        color: #0065fc;
    } */

.inscrire {
    color: #0065fc;
}

.Fils-de-séparation hr {
    display: none;
}

.form {
    box-shadow: 0px 0px 4px 0.2px gainsboro;
    width: 440px;
    border-radius: 20px;
    margin: 20px 0px 20px 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.fa-map-marker-alt {
    padding: 20px;
    background-color: #f2f2f2;
}

i.fa-search {
    display: none;
}

.form i {
    font-size: large;
    color: initial;
}

input {
    border: none;
    padding: 17px;
    min-width: 100px;
    background-color: #ffffff00;
    font: menu;
    font-weight: bolder;
}

.form button {
    display: inline-block;
    background-color: rgb(21, 108, 221);
    color: white;
    box-sizing: border-box;
    border: none;
    padding: 17px;
    min-width: 150px;
}

.filtres label {
    font-size: x-large;
    margin: 12px 14px 0px 0px;
}

.filtres button {
    background-color: white;
    border-radius: 40px 40px;
    margin: 5px 20px 20px 0px;
    padding: 14px 13px 15px 10px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 0px 1px 1.4px gainsboro;
    border: none;
    cursor: default;
    font-weight: 900;
    font-family: sans-serif;
    font-size: inherit;
}

.filtres span {
    padding: 20px 20px;
    background-color: #deebff;
    border-radius: 50%;
    position: relative;
    right: 11px;
}

.filtres i {
    color: #0065fc;
    font-size: larger;
}

form.filtres {
    margin: 30px 0px 0px 0px;
}

div.info {
    display: flex;
    margin: 30px 15px 6px 5px;
}

.info i {
    text-align: center;
    color: #0065fc;
    border-radius: 50%;
    padding: 5px 11px;
    margin: 15px 10px 15px 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 2.1px gainsboro;
    position: relative;
    top: -20px;
}


/* ---------------section-2------------------------------------------------ */

.Héberge_marsrille {
    display: flex;
    /*! justify-content: space-between; */
    align-items: center;
    /*! width: 100%; */
    padding: 0px;
    /*! height: 630px; */
    flex-direction: column;
}

.fa-chart-line {
    font-size: x-large;
    margin-top: 20px;
    color: initial;
}

.chambre-hôte h4 {
    padding: 1px;
}

.prix i {
    color: #0065fc;
}


/* -------------------section-3--------------------------------- */

.Hébergements-Marseille_image {
    border-radius: 17px 17px 0 0;
    overflow: hidden;
}

p.Marseille {
    /*! margin: 25px 0px 30px 10px; */
    font-weight: 400;
    font-size: 20px;
    /*! margin-bottom: 45px; */
    /*! padding: 40px 0px 20px 1px; */
    /*! text-align: ; */
    /*! text-justify: 19px; */
}

h2.Marseille {
    /*! margin-left: 10px; */
    /*! margin-top: 47px; */
    grid-column: 1/4;
    /*! justify-self: start; */
    /*! margin-block-end: 0px; */
    /*! margin: 0; */
    margin-block-start: 0;
    margin-block-end: 0;
}

div.Marseille {
    /*! background-color: #f2f2f2; */
    /*! border-radius: 20px; */
    padding: 40px 40px 0px 40px;
    /*! width: 58%; */
    /*! display: grid; */
    /*! grid-template-columns: ; */
    grid-gap: 4%;
    /*! padding: 44px; */
    height: 630px;
    /*! margin-bottom: 0px; */
    /*! margin-left: -10px; */
    background-color: #f2f2f2;
    border-radius: 20px;
    /*! padding: 20px; */
    width: 96%;
    margin: 15px;
    display: grid;
}

.Hébergements-Marseille {
    /*! margin: 15px 15px; */
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 5px 5px 0px 5px;
}

.Marseille div {
    /*! background-color: white; */
    /*! border-radius: 20px; */
    /*! margin: 0px; */
}

.Marseille img {
    /*! width: 245px; */
    height: 115px;
    /*! border-radius: 17px 17px 0 0; */
    /*! padding: 5px 5px 5px 5px; */
    width: 100%;
}

.info p {
    font-weight: lighter;
}

.prix h4,
p {
    /*! margin: -2px 0px 7px 0px; */
    /*! line-height: 15px; */
}

.Hébergements-Marseille .prix {
    margin-left: 15px;
    /*! height: 80px; */
    /*! margin-top: 10px; */
    line-height: 0.2;
}

.Hébergement_populaire_image {
    border-radius: 20px 0 0px 20px;
    padding: 5px;
    background-color: white;
    overflow: hidden;
    height: 144px;
}

div.plus_populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 97%;
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 10px;
    height: 630px;
}

.Hébergement_populaire div.prix {
    padding: 0px 20px 0px 15px;
    /*! flex: ; */
    display: flex;
    flex-direction: column;
    /*! align-items: stretch; */
    /*! justify-content: unset; */
    /*! flex-wrap: wrap; */
}

.plus_populaires img {
    width: 100%;
    height: 100%;
    border-radius: 17px 0 0px 17px;
    /*! padding: 5px 10px 5px 5px; */
    /*! background-color: white; */
    max-width: 100%;
}

div.Hébergement-populaire {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px 5px 20px;
    align-items: baseline;
}

div.Hébergement_populaire {
    display: grid;
    grid-template-columns: 46% auto;
    margin: 0px 20px 20px 20px;
    border-radius: 20px;
    background-color: white;
    /*! display: flex; */
    /*! flex-direction: row; */
    /*! height: 145px; */
    /*! grid-row-gap: 23px; */
    /*! padding-bottom: 0px; */
}

i {
    font-size: small;
    color: #0065fc;
}

.Hébergement_populaire i {
    margin-top: 20px;
    font-size: small;
    color: #0065fc;
}

.fas.fa-star_5 {
    color: #d4d1d1;
}


/* ----------------  Sections-4 ------------------------------------ */

div.Activité {
    border-radius: 20px;
    display: grid;
    grid-template-areas: "a b d e" "a b d e ";
    grid-template-columns: 23% 23% 23% 22%;
    grid-gap: 40px;
    /*! width: 1375px; */
    height: 450px;
}

.active_addresse {
    height: 50px;
}

.Activité-à-Marseille {
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
}

.Activité div {
    border-radius: 20px;
}

.active_addresse p {
    font-size: smaller;
    padding: 15px 0px 0px 20px;
}

.Activité1 {
    grid-area: a;
    box-shadow: 0px 0px 32px 14.1px rgb(240 240 240);
}

.Activité1 img,
.Activité4 img {
    height: 400px;
    width: 100%;
}

.Activité2 img {
    height: 170px;
    width: 100%;
}

.Activité3 img {
    height: 122px;
    width: 100%;
}

.Activité5 img {
    height: 140px;
    width: 100%;
}

.Activité6 img {
    height: 165px;
    width: 100%;
}

.contaier-Activité_1 {
    grid-area: b;
}

.Activité2 {
    box-shadow: 0px 0px 32px 14.1px rgb(240 240 240);
    overflow: hidden;
    height: 240px;
    margin-bottom: 40px;
}

.Activité3 {
    box-shadow: 0px 0px 32px 14.1px rgb(240 240 240);
    overflow: hidden;
    height: 198px;
}

.Activité4 {
    grid-area: d;
    box-shadow: 0px 0px 32px 14.1px rgb(240 240 240);
    overflow: hidden;
}

.contaier-Activité_2 {
    grid-area: e;
}

.Activité5 {
    box-shadow: 0px 0px 32px 14.1px rgb(240 240 240);
    overflow: hidden;
    margin-bottom: 40px;
}

.Activité6 {
    box-shadow: 0px 0px 32px 14.1px rgb(240 240 240);
    overflow: hidden;
}

.Activité img {
    border-radius: 17px 17px 0 0;
}

.footer {
    background-color: #f2f2f2;
    /*! margin: 49px 0px 0px 0px; */
    padding: 30px;
    font-size: large;
    width: 1380px;
    max-width: 1380px;
    height: 220px;
}

.footer1 {
    display: grid;
    grid-template-columns: auto auto auto;
    /*! justify-items: left; */
    margin-left: 45px;
    line-height: 35px;
}